<main>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Saved Articles</a>
                <button class="btn btn-sm btn-outline-info">Scrape New Articles</button>
                </div>
            </div>
        </nav>
    </header> 
    <section class="container">
        {{#each articles}}
            <article class='row'>
                <h2 class='text-center col'>{{title}}</h2>
                <div class='row'>
                    <img class='article-img col-sm-4 img-responsive' src={{image}} />
                    <p class='col'>{{summary}}</p>
                </div>
            </article>
        {{/each}}

    </section>       

</main>




